## <font color="maroon"><h4 align="center">Pandas Group By: Exercise</font>

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file 'movies_data.csv' and store it in a variable 'df'

In [5]:
#read the excel file
df = pd.read_csv('movies_data.csv')

#show the df
df.head()

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD

### <font color="purple">**Question2**</font>
- Group the dataframe by 'industry' and store it in a variable 'g'
- Get the size of each grouped category
- Get all the data related to "Bollywood"

In [8]:
#group by 'industry' and store it in variable 'g'
g= df.groupby('industry')
g.size()

#get the size of each category

industry
Bollywood    17
Hollywood    20
dtype: int64

In [12]:
#get the 'Bollywood' group
g.get_group('Bollywood').head()

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
21,107,Dilwale Dulhania Le Jayenge,Bollywood,Hindi,1995,8.0,Yash Raj Films,400.0,2000.0,Millions,INR
22,108,3 Idiots,Bollywood,Hindi,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR
23,109,Kabhi Khushi Kabhie Gham,Bollywood,Hindi,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR
24,110,Bajirao Mastani,Bollywood,Hindi,2015,7.2,NaN,1.4,3.5,Billions,INR

### <font color="purple">**Question3: Group data using custom function:**</font>
Here, the requirement is to create four groups based on **"imdb_rating"**

- 1 <= imdb_rating <= 3.9 ---> 'Poor'
- 4 <= imdb_rating <= 7.9 ---> 'Average'
- 8 <= imdb_rating <= 10 --->  'Good'
- If none of above satisfy, then return 'others'

In [14]:
#complete the function 'grouper'

def grouper(df, idx, col):
    if 1<= df[col].loc[idx] <= 3.9:
        return 'Poor'
    elif 4<= df[col].loc[idx] <= 7.9:
        return 'Average'
    elif 8<= df[col].loc[idx] <= 10:
        return 'good'
    else:
        return 'Others'
    '''
        This function returns category based on imdb_rating
    '''
    pass

In [21]:
#groupby based on the grouper function and store it in a variable 'g'
#Note: use the imdb_rating column
g = df.groupby(lambda idx: grouper(df, idx, 'imdb_rating'))
#iterate through the 'g' and print all the groups
for key, value in g:
    print('key:', key)
    print('Value:', value.title)
    print('\n')

key: Average
Value: 1     Doctor Strange in the Multiverse of Madness
2                           Thor: The Dark World
3                                 Thor: Ragnarok
4                         Thor: Love and Thunder
9                                         Titanic
11                                         Avatar
19             Captain America: The First Avenger
20            Captain America: The Winter Soldier
23                       Kabhi Khushi Kabhie Gham
24                               Bajirao Mastani
34                      Pushpa: The Rise - Part 1
Name: title, dtype: object


key: Others
Value: 28    Sanju
Name: title, dtype: object


key: Poor
Value: 31    Race 3
Name: title, dtype: object


key: good
Value: 0                K.G.F: Chapter 2
5        The Shawshank Redemption
6                    Interstellar
7        The Pursuit of Happyness
8                       Gladiator
10          It's a Wonderful Life
12                  The Godfather
13                The Dark Knight
14               Schindler's List
15                  Jurassic Park
16                       Parasite
17              Avengers: Endgame
18         Avengers: Infinity War
21    Dilwale Dulhania Le Jayenge
22                       3 Idiots
25               Taare Zameen Par
26            Munna Bhai M.B.B.S.
27                             PK
29              The Kashmir Files
30              Bajrangi Bhaijaan
32                      Shershaah
33                Pather Panchali
35                            RRR
36       Baahubali: The Beginning
Name: title, dtype: object